<div class="grid lg:grid-cols-2 sm:grid-cols-1 gap-3 mb-3">
    <div class="panel">
        <div class="flex justify-between">
            <h5 class="text-lg mb-3 font-bold">Supplier</h5>
            <button (click)="showModal('supplier')" class="btn btn-sm btn-dark">SELECT SUPPLIER</button>
        </div>
        <div>
            <form [formGroup]="supplierForm">
                <div [ngClass]="(supplierForm.controls.supplierId.invalid && supplierForm.controls.supplierId.touched) ? 'has-error' : ''">
                    <label>Supplier Id</label>
                    <input class="form-input disabled:bg-[#eee]" formControlName="supplierId" type="text">
                </div>
                <div [ngClass]="(supplierForm.controls.supplierName.invalid && supplierForm.controls.supplierName.touched) ? 'has-error' : ''">
                    <label>Supplier Name</label>
                    <input class="form-input disabled:bg-[#eee]" formControlName="supplierName" type="text">
                </div>
            </form>
        </div>
    </div>
    
    <div class="panel">
        <div class="flex justify-between">
            <h5 class="text-lg mb-3 font-bold">Product</h5>
            <button (click)="showModal('product')" class="btn btn-sm btn-dark">SELECT PRODUCT</button>
        </div>
        <div>
            <form [formGroup]="productForm">
                <div [ngClass]="(productForm.controls.productId.invalid && productForm.controls.productId.touched) ? 'has-error' : ''">
                    <label>Product Id</label>
                    <input class="form-input disabled:bg-[#eee]" formControlName="productId" type="text">
                </div>
                <div [ngClass]="(productForm.controls.productName.invalid && productForm.controls.productName.touched) ? 'has-error' : ''">
                    <label>Product Name</label>
                    <input class="form-input disabled:bg-[#eee]" formControlName="productName" type="text">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="panel mb-3">
    <div class="flex justify-between">
        <h5 class="text-lg mb-3 font-bold">Stock</h5>
    </div>
    <div>
        <form [formGroup]="stockForm">
            <div [ngClass]="(stockForm.controls.quantity.invalid && stockForm.controls.quantity.touched) ? 'has-error' : ''"
                 class="mb-2">
                <label>Quantity</label>
                <input class="form-input" formControlName="quantity" type="number">
            </div>
            <div [ngClass]="(stockForm.controls.buyingPrice.invalid && stockForm.controls.buyingPrice.touched) ? 'has-error' : ''"
                 class="mb-2">
                <label>Buying Price</label>
                <input class="form-input" formControlName="buyingPrice" type="number">
            </div>
            <div [ngClass]="(stockForm.controls.sellingPrice.invalid && stockForm.controls.sellingPrice.touched) ? 'has-error' : ''"
                 class="mb-2">
                <label>Selling Price</label>
                <input class="form-input" formControlName="sellingPrice" type="number">
            </div>
            <div [ngClass]="(stockForm.controls.manufactureDate.invalid && stockForm.controls.manufactureDate.touched) ? 'has-error' : ''"
                 class="mb-2">
                <label>Manufacture Date</label>
                <input class="form-input" formControlName="manufactureDate" type="date">
            </div>
            <div [ngClass]="(stockForm.controls.expiryDate.invalid && stockForm.controls.expiryDate.touched) ? 'has-error' : ''"
                 class="mb-5">
                <label>Expire Date</label>
                <input class="form-input" formControlName="expiryDate" type="date">
            </div>
            <div class="grid">
                <button (click)="addGrnItem()" [disabled]='stockForm.invalid' class="btn btn-dark">Add To GRN
                </button>
            </div>
        </form>
    </div>
</div>

<div class="panel mb-3">
    <div class="dataTable-wrapper dataTable-loading no-footer fixed-columns">
        <div class="dataTable-container">
            <table class="table-hover whitespace-nowrap dataTable-table" id="myTable">
                <thead>
                <tr>
                    <th class="whitespace-nowrap">#</th>
                    <th>Product Name</th>
                    <th>Brand</th>
                    <th>Quantity</th>
                    <th>Buying Price</th>
                    <th>Selling Price</th>
                    <th>Manufacture Date</th>
                    <th>Expire Date</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody *ngIf="productList.length != 0">
                <tr *ngFor="let product of productList; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{product.product.name}}</td>
                    <td>{{product.product.brand.name}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.buyingPrice | currency:'LKR'}}</td>
                    <td>{{product.sellingPrice | currency:'LKR'}}</td>
                    <td>{{product.manufactureDate | date:'medium'}}</td>
                    <td>{{product.expireDate | date:'medium'}}</td>
                    <td>{{product.buyingPrice * product.quantity | currency:'LKR'}}</td>
                    <td>
                        <button (click)="removeGrnItem(product)" class="btn btn-danger">DELETE</button>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="productList.length == 0">
                <tr>
                    <td class="text-center text-danger font-bold" colspan="9">
                        <span>No GRN Items Added.</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel">
    <form [formGroup]="priceForm" class="grid grid-cols-2 gap-3 mb-3">
        
        <div>
            <div [ngClass]="(priceForm.controls.grandTotal.invalid && priceForm.controls.grandTotal.touched) ? 'has-error' : ''"
                 class="mb-2">
                <label>Grand Total</label>
                <input [value]="priceForm.get('grandTotal')?.value | currency:'LKR'" class="form-input bg-[#eee]" formControlName="grandTotal"
                       type="text"/>
            </div>
            <div [ngClass]="(priceForm.controls.payment.invalid && priceForm.controls.payment.touched) ? 'has-error' : ''"
                 class="mb-2">
                <label>Payment</label>
                <input #payment (keyup)="calculateBalance(parseInt(payment.value))" class="form-input" formControlName="payment"
                       placeholder="Rs.1.00" type="text"/>
            </div>
        </div>
        <div>
            <div [ngClass]="(priceForm.controls.paymentType.invalid && priceForm.controls.paymentType.touched) ? 'has-error' : ''"
                 class="mb-2">
                <label>Payment Type</label>
                <select class="form-select" formControlName="paymentType">
                    <option value="">Select Payment Type</option>
                    <option *ngFor="let paymentType of PaymentTypes | keyvalue"
                            value="{{paymentType.value}}">{{paymentType.key}}</option>
                </select>
            </div>
            <div [ngClass]="(priceForm.controls.balance.invalid && priceForm.controls.balance.touched) ? 'has-error' : ''">
                <label>Balance</label>
                <input [value]="priceForm.get('balance')?.value | currency:'LKR'" class="form-input bg-[#eee]" formControlName="balance"
                       type="text"/>
            </div>
        </div>
    </form>
    <div class="grid">
        <button (click)="addGrn()" *ngIf="!loading" [disabled]="priceForm.invalid" class="btn btn-primary">Add GRN
        </button>
        <button *ngIf="loading" class="btn btn-primary gap-4" type="button">
            <span class="animate-ping w-3 h-3 ml-4 inline-block rounded-full bg-white"></span>
            Loading...
        </button>
    </div>
</div>

<app-supplier-modal (changedVisible)="hideModal('supplier')" (selectedSupplier)="selectSupplier($event)"
                    [isVisible]="IsVisibleSupplierModal"></app-supplier-modal>

<app-products-modal (changedVisible)="hideModal('product')" (selectedProduct)="selectProduct($event)"
                    [isVisible]="IsVisibleProductModal"></app-products-modal>