<div class="main-container min-h-screen text-black dark:text-white-dark">
    <!-- start main content section -->
    <div class="flex min-h-screen items-center justify-center bg-gradient-to-t from-[#c39be3] to-[#f2eafa]">
        <div class="p-5 text-center font-semibold">
            <h2 class="mb-8 text-[50px] font-bold leading-none md:text-[80px]">Error {{ errorCode }}</h2>
            <h4 class="mb-5 text-xl font-semibold text-primary sm:text-5xl">Ooops!</h4>
            <p class="text-base">{{errorMessage}}</p>
            <!--      <a routerLink="/user" class="btn btn-primary mx-auto mt-10 w-max">Login</a>-->
        </div>
    </div>
    <!-- end main content section -->
</div>
