<div #stockModal class="fixed inset-0 bg-[black]/60 z-[999] hidden overflow-y-auto">
    <div class="flex items-start justify-center min-h-screen px-4">
        <div class="panel border-0 p-0 rounded-lg overflow-hidden my-8 w-full max-w-4xl animate__animated animate__fadeIn">
            <div class="p-5">
                <div class="panel mb-3">
                    <div class="flex justify-between mb-3">
                        <h5 class="text-lg font-bold">Select Stock</h5>
                    </div>
                    <form [formGroup]="stockForm" class="w-full">
                        <div class="gap-4">
                            <div class="mb-3">
                                <label class="form-label">Product Name</label>
                                <input (keyup)="searchStock(currentPage, sizeNum)" class="form-input" formControlName="productName"
                                       type="text">
                            </div>
                            
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="form-label">Category</label>
                                    <select (change)="searchStock(currentPage, sizeNum)" class="form-select"
                                            formControlName="categoryId">
                                        <option value="">Select Category</option>
                                        <option *ngFor="let category of categories"
                                                value="{{category.id}}">{{category.name}}</option>
                                    </select>
                                </div>
                                <div>
                                    <label class="form-label">Brand</label>
                                    <select (change)="searchStock(currentPage, sizeNum)" class="form-select"
                                            formControlName="brandId">
                                        <option value="">Select Brand</option>
                                        <option *ngFor="let brand of brands"
                                                value="{{brand.id}}">{{brand.name}}</option>
                                    </select>
                                </div>
                                <div>
                                    <label class="form-label">Manufacture Date (Start)</label>
                                    <input (change)="searchStock(currentPage, sizeNum)" class="form-input" formControlName="manufactureDateFrom"
                                           type="date">
                                </div>
                                <div>
                                    <label class="form-label">Manufacture Date (End)</label>
                                    <input (change)="searchStock(currentPage, sizeNum)" class="form-input" formControlName="manufactureDateTo"
                                           type="date">
                                </div>
                                <div>
                                    <label class="form-label">Expire Date (Start)</label>
                                    <input (change)="searchStock(currentPage, sizeNum)" class="form-input" formControlName="expireDateFrom"
                                           type="date">
                                </div>
                                <div>
                                    <label class="form-label">Expire Date (End)</label>
                                    <input (change)="searchStock(currentPage, sizeNum)" class="form-input" formControlName="expireDateTo"
                                           type="date">
                                </div>
                                <div>
                                    <label class="form-label">Price (Min)</label>
                                    <input (keyup)="searchStock(currentPage, sizeNum)" class="form-input" formControlName="sellingPriceFrom"
                                           type="number">
                                </div>
                                <div>
                                    <label class="form-label">Price (Max)</label>
                                    <input (keyup)="searchStock(currentPage, sizeNum)" class="form-input" formControlName="sellingPriceTo"
                                           type="number">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="panel">
                    <div class="dataTable-wrapper dataTable-loading no-footer fixed-columns">
                        <div class="dataTable-container">
                            
                            <table class="table-hover whitespace-nowrap dataTable-table" id="myTable">
                                <thead>
                                <tr>
                                    <th class="whitespace-nowrap">#</th>
                                    <th>Product</th>
                                    <th>Category</th>
                                    <th>Brand</th>
                                    <th>Quantity</th>
                                    <th>Selling Price</th>
                                    <th>Manufacture Date</th>
                                    <th>Expire Date</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <ng-container *ngIf="!isLoadingTable">
                                    <tr *ngFor="let stock of stockList">
                                        <td class="whitespace-nowrap">#{{stock.id}}</td>
                                        <td>{{stock.product.name}}</td>
                                        <td>{{stock.product.brand.category.name}}</td>
                                        <td>{{stock.product.brand.name}}</td>
                                        <td>{{stock.quantity}}</td>
                                        <td>{{stock.sellingPrice}}</td>
                                        <td>{{stock.manufactureDate}}</td>
                                        <td>{{stock.expireDate}}</td>
                                        <td>
                                            <button (click)="selectStock(stock)" class="btn btn-dark btn-sm">SELECT
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                                <tr *ngIf="isLoadingTable">
                                    <td class="text-center" colspan="9">
                                        <span class="animate-spin border-4 border-transparent border-l-primary rounded-full w-10 h-10 inline-block align-middle m-auto mb-10"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dataTable-bottom">
                            <div class="dataTable-info">Showing {{offset + 1}}
                                to {{last ? totalElements : offset + sizeNum}}
                                of {{totalElements}} entries
                            </div>
                            <div class="dataTable-dropdown">
                                <label>
                                    <select #size (change)="sizeChange(size.value)" class="dataTable-selector">
                                        <option *ngFor="let s of sizesList" value="{{s}}">{{s}}</option>
                                    </select>
                                </label>
                            </div>
                            <nav class="dataTable-pagination">
                                <ul class="dataTable-pagination-list">
                                    <li class="pager">
                                        <a (click)="paginate(0)">
                                            <svg class="w-4.5 h-4.5 rtl:rotate-180" fill="none" height="24"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-linecap="round"
                                                      stroke-linejoin="round"
                                                      stroke-width="1.5"></path>
                                                <path d="M16.9998 19L10.9998 12L16.9998 5" opacity="0.5"
                                                      stroke="currentColor"
                                                      stroke-linecap="round" stroke-linejoin="round"
                                                      stroke-width="1.5"></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="pager">
                                        <a (click)="paginate(currentPage-1)">
                                            <svg class="w-4.5 h-4.5 rotate-180" fill="none" height="24"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-linecap="round"
                                                      stroke-linejoin="round"
                                                      stroke-width="1.5"></path>
                                            </svg>
                                        </a>
                                    </li>
                                    
                                    <li *ngFor="let page of totalPages" [class.active]="currentPage+1 == page"
                                        class="px-1"><a
                                            (click)="paginate(page-1)">{{page}}</a></li>
                                    
                                    <li class="pager">
                                        <a (click)="currentPage+1 != totalPages.length ? paginate(currentPage+1) : null">
                                            <svg class="w-4.5 h-4.5 rtl:rotate-180" fill="none" height="24"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-linecap="round"
                                                      stroke-linejoin="round"
                                                      stroke-width="1.5"></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="pager">
                                        <a (click)="paginate(totalPages.length-1)">
                                            <svg class="w-4.5 h-4.5 rtl:rotate-180" fill="none" height="24"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-linecap="round"
                                                      stroke-linejoin="round"
                                                      stroke-width="1.5"></path>
                                                <path d="M6.99976 19L12.9998 12L6.99976 5" opacity="0.5"
                                                      stroke="currentColor"
                                                      stroke-linecap="round" stroke-linejoin="round"
                                                      stroke-width="1.5"></path>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>